<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name }}{% templatetag openblock %} endblock title {% templatetag closeblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jason Leveille">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}css/project.css" rel="stylesheet">
  </head>
  <body>
    {% templatetag openblock %} block content {% templatetag closeblock %}
      <p>Use this document as a way to quick start any new project.</p>
    {% templatetag openblock %} endblock content {% templatetag closeblock %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% templatetag openvariable %} STATIC_URL {% templatetag closevariable %}js/project.js"></script>
  </body>
</html>
